# dependencies
node_modules/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/build/
android/.gradle/
android/app/build/
android/local.properties
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Build Artifacts
*.apk
*.aab
*.dm
android/app/release/
clean_output.txt

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
android/app/chauffit-release.keystore
